<div class="grid-x grid-padding-x align-bottom new-row">
    <div class="medium-8 cell">
        <%= form.input :text, label: 'Answer' %>
    </div>
    <div class="medium-2 cell">
        <%= form.input :is_correct, label: 'Correct?' %>
    </div>
    <div class="medium-2 cell">
        <%= link_to_remove_nested form, link_text: 'Remove', link_classes: 'button hollow small secondary', fields_wrapper_selector: '.new-row', tag: 'button' %>
    </div>
</div>