<div class="button-group no-gaps">
    <%= user_signed_in? ? link_to('New Question', @category ? new_category_question_path(@category) : new_question_path, class: 'button') : '' %>
    <%= link_to '<i class="fa-solid fa-shuffle"></i> Shuffle'.html_safe, shuffle_questions_path, class: 'button hollow secondary' %>
</div>
<style>
    tr[data-url] {
        cursor: pointer;
    }
</style>
<table class="stack hover relaxed" id="question-index">
    <thead>
        <tr>
            <th>Question</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render @questions %>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('tr[data-url]').on('click', function(event) {
        if ($(event.target).is('a')) {
            return;
        }
        var url = $(this).data('url');
        if (url) {
            window.location.href = url;
        }
    });
    });
</script>
<%= render 'layouts/shortcut_new', path: new_question_path %>