<div class="grid-x grid-padding-x align-bottom new-row">
    <div class="medium-8 cell">
        <%= form.collection_select :category_id, Category.all_with_indentation, :last, :first, prompt: 'Select a Category' %>
    </div>
    <div class="medium-4 cell">
        <%= link_to_remove_nested form, link_text: 'Remove', link_classes: 'button small hollow secondary', fields_wrapper_selector: '.new-row', tag: 'button' %>
    </div>
</div>