<h1>Questions</h1>
<%= render 'layouts/flash' %>
<%= link_to 'New Question', new_question_path, class: 'button' %>
<table>
    <thead>
        <tr>
            <th>Question</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <%= render @questions %>
    </tbody>
</table>
<%= render 'layouts/shortcut_new', path: new_question_path %>