<h1>Sources</h1>
<%= render 'layouts/flash' %>
<%= user_signed_in? ? link_to('New Source', new_source_path, class: 'button') : '' %>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render @sources %>
    </tbody>
</table>
<%= render 'layouts/shortcut_new', path: new_source_path %>