<h1><%= @category.name %></h1>
<%= user_signed_in? ? link_to('Edit', edit_category_path(@category), class: 'button') : '' %>
<%= link_to 'Back', categories_path, class: 'button' %>

<%= render 'questions/index', questions: @questions %>