<br/>
<footer class="grid-container" style="font-size: 0.8rem;">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-12 text-center">
            <p style="color: #8c8c8c">&copy; <span id="year"><%= Time.current.year %></span> Pilot Puzzles. All rights reserved.</p>
        </div>
    </div>
</footer>