<div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="top-menu" data-animate="hinge-in-from-top">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        Pilot Cardsmith
      </li>
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'Questions', questions_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Sources', sources_path %></li>
    </ul>
  </div>
</div>